<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC1Onh8tfgW8gKnVUMfC6LwUKSQ4PvUyd8</string>
	<key>GCM_SENDER_ID</key>
	<string>471196870766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.gracetech.womansbible</string>
	<key>PROJECT_ID</key>
	<string>womans-bible-gracetech</string>
	<key>STORAGE_BUCKET</key>
	<string>womans-bible-gracetech.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471196870766:ios:b82ef4444ebe0c27a3de7f</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-3200984351467142~2392076969</string>
</dict>
</plist>